In [1]:
import pandas as pd
from scipy import stats

In [2]:
from google.colab import files
uploaded = files.upload()

Saving client_data.csv to client_data.csv

In [3]:
import io
df = pd.read_csv(io.BytesIO(uploaded['client_data.csv']))

In [5]:
df.head(20)

    first_name   last_name  age  ...  fin_lit_review   savings invest
0        Murry    Benfield   27  ...           Never  22273.88      3
1      Coleman    Saladino   43  ...           Often  22554.66      1
2   Cinderella   Kermannes   65  ...         Monthly  32704.00      2
3       Wenona        Voss   26  ...          Weekly  37746.47      3
4       Frayda      Burles   32  ...           Never  15054.90      5
5     Ealasaid       Dewen   42  ...           Often  31842.69      2
6    Courtenay    Jacqueme   63  ...          Seldom  38774.62      2
7        Clara      Piggen   65  ...           Never  33896.47      1
8     Dulciana      Janata   29  ...           Never  23470.38      1
9     Dionysus     Lambeth   25  ...          Seldom  34308.99      1
10     Davidde      Lamont   50  ...           Never  22755.40      3
11        Ilsa   Woolbrook   46  ...           Daily  28367.06      1
12       Riley      Gentry   44  ...         Monthly  25658.06      2
13       Casey     Roughan   52  ...         Monthly  29330.39      1
14      Ragnar     Poletto   60  ...           Daily  28250.88      4
15       Ailyn    Biasetti   53  ...          Seldom  20328.99      2
16         Had    Stanlike   49  ...           Never  29258.01      4
17       Lisha     Jarratt   36  ...          Seldom  29749.77      5
18      Gaylor  Whittlesey   53  ...           Never  32974.96      5
19        Rivy  Callingham   42  ...           Often  32641.67      5

[20 rows x 11 columns]

In [6]:
df.shape

(1000, 11)

In [7]:
df.columns

Index(['first_name', 'last_name', 'age', 'children', 'email', 'job_title',
       'home_loan', 'more_than_one_vehicle', 'fin_lit_review', 'savings',
       'invest'],
      dtype='object')

In [8]:
df.dtypes

first_name                object
last_name                 object
age                        int64
children                   int64
email                     object
job_title                 object
home_loan                   bool
more_than_one_vehicle       bool
fin_lit_review            object
savings                  float64
invest                     int64
dtype: object

In [9]:
df.invest.unique()

array([3, 1, 2, 5, 4])

In [10]:
df.invest.value_counts()

2    210
5    208
4    201
1    192
3    189
Name: invest, dtype: int64

In [11]:
df.invest.value_counts(normalize=True)

2    0.210
5    0.208
4    0.201
1    0.192
3    0.189
Name: invest, dtype: float64

In [12]:
df.invest.value_counts(normalize=True) * 100

2    21.0
5    20.8
4    20.1
1    19.2
3    18.9
Name: invest, dtype: float64

In [13]:
df.children.value_counts()

3    218
2    214
1    194
4    192
0    182
Name: children, dtype: int64

In [14]:
pd.crosstab(df.home_loan, df.more_than_one_vehicle)

more_than_one_vehicle  False  True
home_loan
False                    268    247
True                     239    246

In [15]:
df.age.mean()

44.739

In [16]:
df['savings'].mean()

30136.492399999974

In [17]:
df[df.home_loan == True]['age'].mean()

44.37731958762887

In [18]:
df[df.home_loan == False].age.mean()

45.07961165048544

In [19]:
df.groupby('home_loan')['age'].mean()

home_loan
False    45.079612
True     44.377320
Name: age, dtype: float64

GEOMETRIC MEAN

In [20]:
stats.gmean(df.age)

43.13095250169657

In [21]:
df[df.age > 50]['savings'].median()

30177.08

In [22]:
df[(df.home_loan == True) & (df.more_than_one_vehicle == True)].savings.median()

30090.425

In [23]:
df[(df.home_loan == True) | (df.more_than_one_vehicle == True)].savings.median()

30350.53

In [24]:
df.columns

Index(['first_name', 'last_name', 'age', 'children', 'email', 'job_title',
       'home_loan', 'more_than_one_vehicle', 'fin_lit_review', 'savings',
       'invest'],
      dtype='object')

In [25]:
df[(df.home_loan == True) & (df.children == 0)].age.median()

40.5

In [26]:
df.loc[(df.home_loan == True) & (df.children == 0), 'age'].median()

40.5

In [27]:
df.children.value_counts()

3    218
2    214
1    194
4    192
0    182
Name: children, dtype: int64

###STANDARD DEVIATION AND VARIANCE

In [28]:
df.groupby('home_loan')['age'].std()

home_loan
False    11.612228
True     11.833028
Name: age, dtype: float64

In [29]:
df.loc[(df.home_loan == True) | (df.more_than_one_vehicle == True), 'savings'].var()

23785369.166071285

In [30]:
df.age.min()

25

In [31]:
df.age.max()

65

In [32]:
df.age.max() - df.age.min()

40

QUANTILES

In [33]:
df.age.quantile([0.25, 0.5, 0.75])

0.25    34.0
0.50    45.0
0.75    55.0
Name: age, dtype: float64

In [34]:
df.groupby('home_loan')['age'].quantile(0.95)

home_loan
False    63.0
True     63.0
Name: age, dtype: float64

In [35]:
df.age.quantile(0.75) - df.age.quantile(0.25)

21.0